<div class="row headings">
    <div class="d-flex justify-content-center">
        <div class="list" *ngIf="facilities.length===0">
            <h6 class="mainHeadings"><i>Organizations</i></h6>
            <mat-nav-list>
                <a class="anchorhover1" mat-list-item *ngFor="let org of organizationList;let i = index"
                    (click)="getSelectedOrganization(org)"> {{ org.name }} </a>
            </mat-nav-list>
        </div>
        <br>
    
        <div class="list" *ngIf="facilities.length>0">
            <mat-nav-list>
                <button class="butttonClick" (click)="goBack()"><mat-icon>arrow_back</mat-icon></button>
                <h6 class="mainHeadings"><i>Facilities correspoding to : {{facilities[0].organizationCode}}</i></h6>
                <a class="anchorhover" mat-list-item *ngFor="let fac of facilities;let j = index"> {{ fac.name }} </a>
            </mat-nav-list>
        </div>
    </div>
</div>